[submodule "newspaper"]
	path = newspaper
	url = https://github.com/codelucas/newspaper.git
[submodule "testFolder/newspaper"]
	path = testFolder/newspaper
	url = https://github.com/codelucas/newspaper.git
