{%  extends 'layout.html' %}

<!-- TODO: display some example data and results/graphs to accompany a brief explanation about the project -->

{% block body %}
    <div class="container justify-content-sm-start ">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h2 class="text-center">This project has been a wonderful learning experience for us.</h2>
            <hr style="background-color: #FF5700;">
            <p class="text-center">A Stack Overflow search a day keeps the bugs away.</p>
        </div>
        <p>As a long-time user of Reddit, I knew what topics were generally popular in the subreddits I frequented,
                                    but I was interested in quickly obtaining concrete, accurate, and data-driven overviews of the popular trends of any subreddit of my choosing.
                                    As a result, I conceived and pitched the original idea for the project, and I was very fortunate to get to work with a group of self-driven and professional CS students to make Reddit_Unlocked a reality.</p>
    </div>

{% endblock %}

