{%  extends 'layout.html' %}

<!-- TODO: implement bootstrap cards for team and tools pages under docs section -->

{% block body %}
    <div class="container justify-content-sm-start ">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h2 class="text-center">Reddit_Unlocked is made possible by these amazing libraries.</h2>
            <hr style="background-color: #FF5700;">
            <p class="text-center">If it doesn't work, import more packages until it does.</p>
        </div>
    </div>

{% endblock %}