{%  extends 'layout.html' %}

<!-- TODO: implement bootstrap cards for team and tools pages under docs section -->

{% block body %}
    <div class="container justify-content-sm-start ">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h2 class="text-center">Reddit_Unlocked is made possible by these amazing libraries.</h2>
            <hr style="background-color: #FF5700;">
            <p class="text-center">No libraries were harmed in the making of this project.</p>
        </div>
    </div>
    <div class="container justify-content-sm-start py-5 px-5">
        <div class="row">
            <div class="col-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-extraction-list" data-toggle="list" href="#list-extraction" role="tab" aria-controls="extraction">Data Extraction</a>
                    <a class="list-group-item list-group-item-action" id="list-analysis-list" data-toggle="list" href="#list-analysis" role="tab" aria-controls="analysis">Analysis & Visualization</a>
                    <a class="list-group-item list-group-item-action" id="list-database-list" data-toggle="list" href="#list-database" role="tab" aria-controls="database">Database Management</a>
                    <a class="list-group-item list-group-item-action" id="list-frontend-list" data-toggle="list" href="#list-frontend" role="tab" aria-controls="frontend">The Website</a>
                </div>
            </div>
            <div class="col-6">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-extraction" role="tabpanel" aria-labelledby="list-extraction-list">...</div>
                    <div class="tab-pane fade" id="list-analysis" role="tabpanel" aria-labelledby="list-analysis-list">...</div>
                    <div class="tab-pane fade" id="list-database" role="tabpanel" aria-labelledby="list-database-list">...</div>
                    <div class="tab-pane fade" id="list-frontend" role="tabpanel" aria-labelledby="list-frontend-list">...</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}