{%  extends 'layout.html' %}

<!-- TODO: implement bootstrap cards for team and tools pages under docs section -->

{% block body %}
    <div class="container justify-content-sm-start ">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h2 class="text-center">We're a group of Freshman CS majors at UIUC.</h2>
            <hr style="background-color: #FF5700;">
            <p class="text-center">But our class standings are higher :)</p>
        </div>
    </div>

{% endblock %}