{%  extends 'layout.html' %}

<!-- TODO: implement bootstrap cards for team and tools pages under docs section -->

{% block body %}
    <div class="container justify-content-sm-start ">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h2 class="text-center">Reddit_Unlocked is made possible by these amazing libraries.</h2>
            <hr style="background-color: #FF5700;">
            <p class="text-center">No libraries were harmed in the making of this project.</p>
        </div>
    </div>
    <div class="container justify-content-start py-4 px-5">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-extraction-list" data-toggle="list" href="#list-extraction" role="tab" aria-controls="extraction">Data Extraction</a>
                    <a class="list-group-item list-group-item-action" id="list-analysis-list" data-toggle="list" href="#list-analysis" role="tab" aria-controls="analysis">Analysis & Visualization</a>
                    <a class="list-group-item list-group-item-action" id="list-database-list" data-toggle="list" href="#list-database" role="tab" aria-controls="database">Database Management</a>
                    <a class="list-group-item list-group-item-action" id="list-frontend-list" data-toggle="list" href="#list-frontend" role="tab" aria-controls="frontend">The Website</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-extraction" role="tabpanel" aria-labelledby="list-extraction-list">
                        <div class="d-flex flex-column justify-content-start">
                            <div class="p-3">
                                <h4>PRAW - Python Wrapper For The Reddit API</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="http://praw.readthedocs.io/en/latest/index.html" target="_blank">PRAW - ReadTheDocs.io</a>
                            </div>
                            <div class="p-3">
                                <h4>Pandas</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://pandas.pydata.org/" target="_blank">Pandas - PyData.org</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-analysis" role="tabpanel" aria-labelledby="list-analysis-list">
                        <div class="d-flex flex-column justify-content-start">
                            <div class="p-3">
                                <h4>Newspaper</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="http://newspaper.readthedocs.io/en/latest/" target="_blank">Newspaper3k - ReadTheDocs.io</a>
                            </div>
                            <div class="p-3">
                                <h4>RAKE - Rapid Automatic Keyword Extraction</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://github.com/zelandiya/RAKE-tutorial" target="_blank">RAKE - Github</a>
                            </div>
                            <div class="p-3">
                                <h4>TextBlob</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="http://textblob.readthedocs.io/en/dev/" target="_blank">TextBlob - ReadTheDocs.io</a>
                            </div>
                            <div class="p-3">
                                <h4>naiveBayesClassifier</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://pypi.python.org/pypi/naiveBayesClassifier/0.1.2.1" target="_blank">naiveBayes - PyPi</a>
                            </div>
                            <div class="p-3">
                                <h4>Plotly</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://plot.ly/" target="_blank">Plot.ly</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-database" role="tabpanel" aria-labelledby="list-database-list">
                        <div class="d-flex flex-column justify-content-start">
                            <div class="p-3">
                                <h4>SQLAlchemy</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy.org</a>
                            </div>
                            <div class="p-3">
                                <h4>cPanel</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://it.engineering.illinois.edu/user-guides/serviceswebsite-services/linux-based-hosting-cpanel" target="_blank">cPanel - EWS IT</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-frontend" role="tabpanel" aria-labelledby="list-frontend-list">
                        <div class="d-flex flex-column justify-content-start">
                            <div class="p-3">
                                <h4>Flask</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="http://flask.pocoo.org/" target="_blank">Flask.pocoo.org</a>
                            </div>
                            <div class="p-3">
                                <h4>Bootstrap</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://getbootstrap.com/" target="_blank">GetBootstrap.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}