{%  extends 'layout.html' %}

<!-- TODO: display some example data and results/graphs to accompany a brief explanation about the project -->

{% block body %}
    <div class="container justify-content-sm-start ">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h2 class="text-center">This project has been a wonderful learning experience for us.</h2>
            <hr style="background-color: #FF5700;">
            <p class="text-center">A Stack Overflow search a day keeps the bugs away.</p>
        </div>
    </div>

{% endblock %}

