{%  extends 'layout.html' %}

<!-- TODO: implement bootstrap cards for team and tools pages under docs section -->

{% block body %}
    <div class="container justify-content-sm-start ">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h2 class="text-center">Reddit_Unlocked is made possible by these amazing libraries.</h2>
            <hr style="background-color: #FF5700;">
            <p class="text-center">No libraries were harmed in the making of this project.</p>
        </div>
    </div>
    <div class="container justify-content-start py-4 px-5">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-extraction-list" data-toggle="list" href="#list-extraction" role="tab" aria-controls="extraction">Data Extraction</a>
                    <a class="list-group-item list-group-item-action" id="list-analysis-list" data-toggle="list" href="#list-analysis" role="tab" aria-controls="analysis">Analysis & Visualization</a>
                    <a class="list-group-item list-group-item-action" id="list-database-list" data-toggle="list" href="#list-database" role="tab" aria-controls="database">Database & Deployment</a>
                    <a class="list-group-item list-group-item-action" id="list-frontend-list" data-toggle="list" href="#list-frontend" role="tab" aria-controls="frontend">The Website</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-extraction" role="tabpanel" aria-labelledby="list-extraction-list">
                        <div class="d-flex flex-column justify-content-start">
                            <div class="p-3">
                                <h4>PRAW - Python Wrapper For The Reddit API</h4>
                                <p class="pt-1">PRAW is a library that we used to gain access to the reddit API, allowing us to pull threads from any subreddit's section as well as their respective attributes. The format in which PRAW functions is a loop through the top posts of a particular section ("hot" or "top") of a subreddit, so we added the attributes of the threads to a dataframe within the for loop. -Gary</p>
                                <a href="http://praw.readthedocs.io/en/latest/index.html" target="_blank">PRAW - ReadTheDocs.io</a>
                            </div>
                            <div class="p-3">
                                <h4>Pandas</h4>
                                <p class="pt-1">With its fast and easy-to-use data structures and data organization functions, Pandas was an invaluable library in storing and sorting extensive subreddit, submission, and keyword data that we gathered from the Reddit API. Specifically, we opted to use Pandas dataframes for their speed and intuitive structure compared to standard Python dictionaries and lists. -Isaac</p>
                                <a href="https://pandas.pydata.org/" target="_blank">Pandas - PyData.org</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-analysis" role="tabpanel" aria-labelledby="list-analysis-list">
                        <div class="d-flex flex-column justify-content-start">
                            <div class="p-3">
                                <h4>Newspaper</h4>
                                <p class="pt-1">We used this package to parse through the HTML markup of any URL we passed to it. Newspaper is built to handle news articles, so if we detected that a Reddit post had an article linked to it, we were able to use newspaper to parse through the text in the article and extract keywords with Newspaper's built-in keywords method.</p>
                                <a href="http://newspaper.readthedocs.io/en/latest/" target="_blank">Newspaper3k - ReadTheDocs.io</a>
                            </div>
                            <div class="p-3">
                                <h4>RAKE - Rapid Automatic Keyword Extraction</h4>
                                <p class="pt-1">The Rapid Automatic Keyword Extraction (RAKE) library allows us to pass in standalone strings (as opposed to URLs that point to articles) to analyze for keywords. This library's algorithm looks at the frequency of word appearance and co-occurrence with other words inside a text to determine which words describe the text as a whole. The library proved useful in analyzing Reddit post titles, which we were able to directly obtain as strings.</p>
                                <a href="https://github.com/zelandiya/RAKE-tutorial" target="_blank">RAKE - Github</a>
                            </div>
                            <div class="p-3">
                                <h4>TextBlob</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="http://textblob.readthedocs.io/en/dev/" target="_blank">TextBlob - ReadTheDocs.io</a>
                            </div>
{#                            <div class="p-3">#}
{#                                <h4>naiveBayesClassifier</h4>#}
{#                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>#}
{#                                <a href="https://pypi.python.org/pypi/naiveBayesClassifier/0.1.2.1" target="_blank">naiveBayes - PyPi</a>#}
{#                            </div>#}
                            <div class="p-3">
                                <h4>Plotly</h4>
                                <p class="pt-1">The reason we used plot.ly is primarily due to the more aesthetically pleasing features of their graphs, easy conversion from pandas dataframes to whatever graph we wish to do, and also the interactive feature of the graphs. It was also very vital that plot.ly allowed for graphs to be embedded into html and the url to the graph used for embedding into html would be updated with each new graph pulled. -Gary</p>
                                <a href="https://plot.ly/" target="_blank">Plot.ly</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-database" role="tabpanel" aria-labelledby="list-database-list">
                        <div class="d-flex flex-column justify-content-start">
                            <div class="p-3">
                                <h4>SQLAlchemy</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://www.sqlalchemy.org/" target="_blank">SQLAlchemy.org</a>
                            </div>
                            <div class="p-3">
                                <h4>Heroku</h4>
                                <p class="pt-1">Ambitioni dedisse scripsisse iudicaretur. Cras mattis iudicium purus sit amet fermentum. Donec sed odio operae, eu vulputate felis rhoncus. Praeterea iter est quasdam res quas ex communi. At nos hinc posthac, sitientis piros Afros. Petierunt uti sibi concilium totius Galliae in diem certam indicere. Cras mattis iudicium purus sit amet fermentum.</p>
                                <a href="https://www.heroku.com/" target="_blank">Heroku.com</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="list-frontend" role="tabpanel" aria-labelledby="list-frontend-list">
                        <div class="d-flex flex-column justify-content-start">
                            <div class="p-3">
                                <h4>Flask</h4>
                                <p class="pt-1">From the start, we knew we wanted to deploy our program onto a dynamic website. After some research and recommendations from upperclassmen, we decided to use Flask. Flask enabled us to integrate the front-end HTML and CSS with the back-end Python program. Flask's sessions utility was especially useful because it allowed the saving and transfer of (data) variables across multiple pages in the website. -Isaac</p>
                                <a href="http://flask.pocoo.org/" target="_blank">Flask.pocoo.org</a>
                            </div>
                            <div class="p-3">
                                <h4>Flask-Session</h4>
                                <p class="pt-1">In the final stages to combining the back-end with the front-end website using Flask, I ran into a problem: the default client-side 4KB-size cookie that Flask provided for transfering data across different pages could not store all of the necessary Reddit and keyword data we need to run the program. Thus, I opted to use Flask-Session, a Flask plugin that enabled me to implement a server-side filesystem cookie system that was able to save all of the data needed thanks to its greater size. -Isaac</p>
                                <a href="http://pythonhosted.org/Flask-Session/" target="_blank">Flask-Session - PythonHosted.org</a>
                            </div>
                            <div class="p-3">
                                <h4>Bootstrap</h4>
                                <p class="pt-1">Since this was my first time learning HTML and CSS, I decided to use Bootstrap to ease my introduction to web development. With its built-in utilities and components, I developed a functional front-end without having to write CSS from scratch. -Isaac</p>
                                <a href="https://getbootstrap.com/" target="_blank">GetBootstrap.com</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}