{%  extends 'layout.html' %}

<!-- TODO: display some example data and results/graphs to accompany a brief explanation about the project -->

{% block body %}
    <div class="container justify-content-sm-start ">
        <div class="jumbotron pt-5 pb-0" style="background-color: #ffffff;">
            <h2 class="text-center">This project has been a wonderful learning experience for us.</h2>
            <hr style="background-color: #FF5700;">
            <p class="text-center">A Stack Overflow search a day keeps the bugs away.</p>
        </div>
        <h2>The Why</h2>
        <p>According to <a href="https://www.alexa.com/topsites" style="font-style: italic;">Alexa</a>, Reddit is the 5th most visited website in the United States (and 8th in the world). As a <a href="https://en.wikipedia.org/wiki/Reddit" style="font-style: italic;">social news aggregation, web content rating, and discussion website,</a> Reddit represents a very significant portion of America's population of internet users.
            And as evidenced by Reddit's higher-than-most typical user visit time of almost 16 minutes per day (compared to 10 minutes for Facebook and 6 for Twitter), Reddit tends to pull in users who are likely to spend more time engaging in longer discussions to express themselves and their opinions.
            On top of all this, Reddit's voting and commenting features for every discussion "thread" allow each sub-community (subreddit) to not only aggregate news and comments but also its users' sentiments towards various topics in these threads.
            In short, Reddit is essentially a goldmine for gathering and analyzing data on how the internet thinks and reacts to real-life issues and events. For our project, we wanted to tap into this goldmine to gather insights about the various popular trends that were present within the Reddit population and its sub-communities.<br><br>
            As a long-time user of Reddit, I knew what topics were generally popular in the subreddits I frequented, but I was interested in quickly obtaining concrete, accurate, and data-driven overviews of any subreddit of my choosing.
            As a result, I conceived and pitched the original idea for the project, and I was very fortunate to get to work with a group of self-driven and professional CS students to make Reddit_Unlocked a reality.<br><br>-Isaac</p>
    </div>

{% endblock %}

